* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

body {
  margin: 0;
}

:root {
  --button-background: #131313;
  --product-item-background: #efefef;
  --text-color: #0f1110;
}

.push-down{ 
  margin-top: 100px; 
}

.sidebar {
  background-color: rgb(218, 218, 218);
}

/*   CATEGORY LIST */

.simple-list {
  list-style: none; /* Remove bullets */
  cursor: pointer; /* Change cursor to pointer */
}

.simple-list li:hover {
  font-weight: bold; /* Make text bold on hover */
}

/* ORDER LIST */
.simple-list-orders {
  list-style: none; /* Remove bullets */
}


/* BUTTON*/

.btn-dark {
  background: var(--button-background);
}

ul{
  list-style: none;
}
